/* css animation (prefixes are cut) */
 
 
.appear {
        transform-origin:center top;
        animation:show 3s both;
}
span.appear {display:inline-block;}
.d1 {animation-delay:1s;}
.d2 {animation-delay:2s;}
 
@keyframes show {
0% {
        transform:translate(0,3em);
        opacity:0;
        text-shadow:0 0 0 #0f0;
}
50% {
/*text-shadow:0 0 0.5em #0f0; コマンドスラッシュ*/
}
100% {
        transform:translate(0,0);
        opacity:1;
        text-shadow:none;
}
}
body {
        background-color:#000;
        margin:0;
}
 
p{
        padding: 0;
}
 
h1 {
        font-size: 14px;
        text-align: center;
        color: #fff;
}
/* intro */
 
#intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
 
#intro p{
      margin:0 1rem;
      color: #fff;
      font-size: 22px;
      letter-spacing: 10px;
 
      font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
      /*font-family: "Hannari";
      font-family: 'Noto Serif Japanese';
      font-family: "源ノ明朝","源暎こぶり明朝",serif;*/
      font-weight: 100;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
 
#wrapper {
        position: absolute;
        height: 100vh;
        top:0;
        left:0;
        display: none;
        width: 100%;
 
}
 
.interval {
    position: relative;
    width: 100%;
    height: 100%;
}
 
.interval img {
         width: 100%;
        opacity: .6;
        height: 100%;
  }

  #slide {
  margin:0 auto;
  position:relative;

}

#slide ul li {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

}

#slide img {
position:absolute;
left:0;
top:0;
}
 
.logo {
        position: absolute;   
        top: 50%;
         left: 50%;
         -ms-transform: translate(-50%,-50%);
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         margin:0;
         padding:0;
 
}
 
.logo img {
         width: 100%;
        opacity: 0.7;
 
}
.guide p {
        position: absolute;   
        top: 90%;
         left: 50%;
         -ms-transform: translate(-50%,-50%);
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         margin:0;
         padding:0;
        font-family:Muller font;
        font-size:8px;
        font-weight:lighter;
        color:#FFF;
        letter-spacing:4px;
}
 
.guide p a {
        color:#FFF;
        text-decoration:none; 
}
.guide p .fa {
        display: block;
        font-size: 3em;
        color: white;
        text-align:center;
        padding-top: 10px;
 
}
 
.fa {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px;
}
/* hover animation */
@-webkit-keyframes fa {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes fa {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes fa-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes fa-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.fa {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.fa:hover, .fa:focus, .fa:active {
  -webkit-animation-name: fa-sink, fa;
  animation-name: fa-sink, fa;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
 
/* content */
 
#content {
  margin: 0;
  padding: 0;
 
}
/* header */
div#headerWrap {
  position: relative;
 
}
 
div#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
        display: flex;
  }
 
div#header h1 {
    float: left;
  }
 
.header-nav {
    display: inline-block;
}
 
ul {
    list-style: none;
        display: flex;
}
 
ul#gnavi {
    width: 100%;
    display: block;
    overflow: hidden;
    max-width: 1000px;
    margin: 0;
    padding-left: 180px;
        padding-top: 22px;
 
 
}
 
ul#gnavi li {
  text-align: center;
  float: right;
  width: 120px;
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
 
ul#gnavi li a {
    text-decoration: none;
    color: gray;
    display: block;
        transition: .7s ;
}
 
ul#gnavi li a:hover {
    color: black;
}
 
/* main */
.main {
        color:#FFF;
        width: 80%;
        margin:0 auto;
 
       
}
 
div.mainName {
  margin: 20px 0 50px 0;       
}
h1.title_E {
  font-size: 2.4rem;
  font-family: 'Josefin Slab', serif;
  text-align:center;
  letter-spacing: 0.08em;
  margin-bottom:-10px;
 
}
h2.title_J {
  font-size: 1rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight:lighter;
  text-align:center;
  letter-spacing: 0.08em;
  -webkit-transform: rotate(.028deg);
  -ms-transform: rotate(.028deg);
  transform: rotate(.028deg);
 
}
p#animation {
        color:#FFF;
        margin: 20px;
        line-height: 2em;
       
}
 
div#footer {
        margin:0 auto;
        width: 80%;    
        padding-top: 30px;
}
 
div#footer ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 0;
        padding: 6px;
        list-style-type: none; 
        border-top: solid #c6c5c1 1px;
}
 
div#footer ul a {
        display: block;
        padding: 12px 24px;
        text-decoration: none;
        color: gray;
        transition: .7s ;
}
 
div#footer ul a:hover {
        color: black;
}
 
address {
        font-size: 0.7rem;
        color:#FFF;
        font-family: 'Josefin Slab', serif;
         text-align:center;
         letter-spacing: 0.08em;
       
               
}
@media screen and (max-width: 1050px){
 
.toggle {
position: fixed;
top: 15px;
right: 15px;
width: 30px;
height: 30px;
cursor: pointer;
transition: transform 0.4s ease 0s,width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,-webkit-transform 0.4s ease 0s;
opacity: 1;
z-index: -10;
}
 
.smallSize {
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  line-height: 1.1;
  letter-spacing: 0.4em ;
  z-index: 2000;
 
}
 
.toggle-nav_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    max-width: 420px;
    padding: 0 5%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: white;
 
}
 
h1.toggle-logo {
    width: 159px;
    margin: 0 auto;
    padding: 0 0 0 0;
    text-align: center;
 
}
 
ul#toggle-nav {
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
 
}
 
ul#toggle-nav li {
    font-family: 'Josefin Slab', serif;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.08em;
        line-height: 180%;
}
 
ul#toggle-nav li a {
  text-decoration: none;
  color: #00B200;
  font-weight: bold;
  position:relative;
  display: inline-block;
  transition: .3s;
}
 
 
ul#toggle-nav li a::after{
        position: absolute;
   bottom: 0;
   left: 50%;
   content: '';
   width: 0;
   height: 2px;
   background-color: #004800;
   transition: .3s;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}
 
ul#toggle-nav li a:hover::after {
  width: 100%;
  color: #004800;
}